delphi/AccOntology/Data/ontology.exe.config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="devices">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="device">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="functions" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="function">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="literal" type="xs:string" use="optional" />
                              <xs:attribute name="path" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="properties" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="property" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="has" type="xs:boolean" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="accurateLocality">
                      <xs:complexType>
                        <xs:attribute name="hasAccuratLocality" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="category" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="literal" type="xs:string" use="required" />
                  <xs:attribute name="rsheet" type="xs:string" use="required" />
                  <xs:attribute name="uis" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>